.contacts-container {
   padding: 80px 10px 0px 10px;
}

.contacts__title {
   display: flex;
   justify-content: center;
   margin-bottom: 44px;
}

.contacts-top {
   justify-content: space-between;
   margin-bottom: 40px;
}


.contacts-top__column {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-around;
   padding-top: 40px;
   padding-bottom: 40px;
   height: 288px;
   width: 428px;
   font-size: 20px;
   line-height: 32px;
   background-color: #edf2f8;
   background-image: url(../img/index/aboutus/logo-bg.png);
   background-repeat: no-repeat;
   background-position: center;
   background-size: 77%;
}



.contacts-top__column-text {
   padding: 0px 32px 0px;
   text-align: center;
}

.column-text__mail-link {
   text-decoration: underline;
   font-weight: 600;
   color: #4a8fd4;
}

.contacts-info {
   margin-bottom: 50px;
}

.contacts-info__list-item:not(:last-child) {
   margin-bottom: 15px;
}

.contacts-info__list-text {
   font-size: 18px;
   line-height: 24px;
}

.contcts-container__map {
   height: 744px;
   background-color: var(--light-gray);
   /* background-image: url(../img/contacts/map-plug.jpg); */
}

[class*="controls"],
[class*="copyright"] {
   display: none;
}

@media (min-width: 1200px) and (max-width: 1399.98px) {
   .contacts-top__column {
      width: 360px;
      font-size: 16px;
   }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
   .contacts-top__column {
      width: 310px;
      height: 250px;
      padding-top: 30px;
      font-size: 14px;
      line-height: 26px;
   }
}

@media (min-width: 768px) and (max-width: 991.98px) {
   .contacts-container {
      padding: 40px 10px 0px 10px;
   }

   .contacts-top__column {
      width: 230px;
      height: 250px;
      padding-top: 20px;
      font-size: 14px;
      line-height: 26px;
   }

   .contacts-top__column-icon svg {
      height: 48px;
   }

   .contacts-top__column-text {
      padding: 0px 20px 0px;
   }
}

@media (min-width: 576px) and (max-width: 767.98px) {
   .contacts-container {
      padding: 140px 10px 0px 10px;
   }

   .contacts-top__column {
      width: 100%;
      height: 150px;
      margin-bottom: 20px;
      padding-top: 30px;
      padding-bottom: 30px;
      font-size: 14px;
      line-height: 22px;
      background-repeat: repeat;
      background-size: 37%;
   }

   .contacts-top__column-icon svg {
      height: 48px;
   }

   .contacts-top__column-text {
      padding: 0px 20px 0px;
   }

   .contacts-info__list-text {
      font-size: 16px;
      line-height: 18px;
   }
}

@media (min-width: 320px) and (max-width: 575.98px) {
   .contacts-container {
      padding: 40px 10px 0px 10px;
   }

   .contacts-top__column {
      width: 100%;
      height: 180px;
      margin-bottom: 20px;
      padding-top: 30px;
      padding-bottom: 30px;
      font-size: 14px;
      line-height: 22px;
      background-repeat: repeat;
      background-size: 37%;
   }

   .contacts-top__column-icon svg {
      height: 32px;
   }

   .contacts-top__column-text {
      padding: 0px 20px 0px;
   }

   .contacts-info__list-text {
      font-size: 16px;
      line-height: 18px;
   }

}