.contacts-container {
   padding: 80px 10px 0px 10px;
}

.contacts__title {
   display: flex;
   justify-content: center;
   margin-bottom: 44px;
}

.contacts-top {
   justify-content: space-between;
   margin-bottom: 40px;
}


.contacts-top__column {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-around;
   padding-top: 40px;
   padding-bottom: 40px;
   height: 288px;
   width: 428px;
   font-size: 20px;
   line-height: 32px;
   background-color: #edf2f8;
   background-image: url(../img/index/aboutus/logo-bg.png);
   background-repeat: no-repeat;
   background-position: center;
   background-size: 77%;
}



.contacts-top__column-text {
   padding: 0px 32px 0px;
   text-align: center;
}

.column-text__mail-link {
   text-decoration: underline;
   font-weight: 600;
   color: #4a8fd4;
}

.contacts-info {
   margin-bottom: 50px;
}

.contacts-info__list-item:not(:last-child) {
   margin-bottom: 15px;
}

.contacts-info__list-text {
   font-size: 18px;
   line-height: 24px;
}

.contcts-container__map {
   height: 744px;
   background-color: var(--light-gray);
   /* background-image: url(../img/contacts/map-plug.jpg); */
}

[class*="controls"],
[class*="copyright"] {
   display: none;
}